.photo_produit{
    width: 200px;
    height: 200px;
}

.photo_produit_grand{
    width: 450px;

}

.test{
    text-align: center;
    margin: 10px;
}

.ongletadmin{
    display: inline-block;
    text-align: center;
}

.search-bar {
	position: relative;
    margin: 0 auto;
    width: 95%;
    max-width: 400px;
    height: 48px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.searchinbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 60px;
    left: 172px;
    margin: 4px 0;
    border: 0;
    border-radius: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}

.wrapper {
    list-style: none;
    display: inline-block;
    margin-top: 50px;
	text-align: center;
}

.recherche{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 3px;
}



